body {
  margin: 0 auto;
  font-family: "Libre Baskerville", serif;
  font-family: "Lobster", cursive;
  font-family: "Poppins", sans-serif;
}

section {
  display: flex;
  padding: 0 10%;
  margin: 3% 0;
  align-items: center;
  justify-content: center;
}

h1 {
  font-size: 2em;
}

.top_header {
  font-family: Libre Baskerville;
}

h1 span {
  color: orange;
}

.top_header {
  box-shadow: -5px 0px 0px 0px orangered;
  padding-left: 2%;
}

#buttons {
  text-decoration: none;
  background-image: linear-gradient(orange, orangered);
  color: white;
  padding: 10px 20px;
  font-weight: 700;
  border-radius: 5px;
  border: none;
}

#buttons:hover {
  background-image: linear-gradient(#c32306, orange);
  cursor: pointer;
}

.round_imgs {
  width: 80%;
  border-radius: 200%;
  border: 5px solid #ffa60000;
  outline: 5px solid orangered;
  margin: 20px auto;
  display: flex;
}

.rectangle_imgs {
  width: 80%;
  border-radius: 10px;
  border: 5px solid #ffa60000;
  outline: 5px solid #cacaca;
  margin: 20px auto;
  display: flex;
}

.text_center {
  text-align: center;
}

.box_1 {
  background-color: #fde1d7;
  margin: 10px;
  padding: 30px;
  border-radius: 30px;
}

.box_2 {
  background-color: #d7fde6;
  margin: 10px;
  padding: 30px;
  border-radius: 30px;
}

.box_3 {
  background-color: #d6d2ff;
  margin: 10px;
  padding: 30px;
  border-radius: 30px;
}

#sub_form {
  padding: 10px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0px 0px 20px -10px;
  background-color: white;
}

#email {
  background-color: #ffffff;
  padding: 10px 20px;
  border-radius: 5px;
  width: 80%;
  margin: 10px 0;
}

#fullname {
  width: 50%;
  padding: 7px 3px;
}
#youremail {
  width: 50%;
  padding: 7px 3px;
}

#textarea {
  width: 90%;
  padding: 7px 3px;
}

footer {
  background-color: black;
  color: white;
  text-align: center;
  margin-bottom: -15px;
  padding: 1px 0;
}

footer h1 {
  font-family: Lobster;
  margin-bottom: -15px;
}

.bg_dotted_left {
  background-image: url("https://www.miamidesigndistrict.net/map/tiles/1/tile_5_14-19.png");
  background-repeat: no-repeat;
  background-position: left -100px bottom -30px;
}

.bg_dotted_right {
  background-image: url("https://www.miamidesigndistrict.net/map/tiles/1/tile_5_14-19.png");
  background-repeat: no-repeat;
  background-position: right -100px bottom -30px;
}

@media (max-width: 800px) {
  section {
    flex-direction: column;
  }
}
